name: Snowflake Deployment

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install SnowCLI
      run: |
        pip install snowflake-cli-labs

    - name: Debug Env
      run: env | grep SNOW

    - name: Test Snowflake Connection
      run: |
        snow sql -x \
          --role ACCOUNTADMIN \
          --warehouse COMPUTE_WH \
          --database MY_DATABSE \
          --schema PUBLIC \
          -q "SELECT CURRENT_USER(), CURRENT_ROLE();"

    - name: Deploy SQL Files
      run: |
        echo "Looking for SQL files in sql/"
        for file in sql/*.sql; do
          echo "Running $file"
          snow sql -x \
            --role ACCOUNTADMIN \
            --warehouse COMPUTE_WH \
            --database MY_DATABSE \
            --schema PUBLIC \
            -f "$file"
        done
