name: Snowflake Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SF_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install SnowCLI
      run: |
        pip install snowflake-cli-labs

    - name: Test Snowflake Connection
      run: |
        snow sql -x \
          --role ACCOUNTADMIN \
          --warehouse COMPUTE_WH \
          --database MY_DATABSE \
          --schema PUBLIC \
          -q "SELECT CURRENT_USER(), CURRENT_ROLE();"

    - name: Deploy SQL Files
      run: |
        for file in sql/*.sql; do
          snow sql -x \
            --role ACCOUNTADMIN \
            --warehouse COMPUTE_WH \
            --database MY_DATABSE\
            --schema PUBLIC \
            -f "$file"
        done
